{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans 'Price basket' %}{% endblock %}
{% block content %}
{% get_current_language as LANGUAGE_CODE %}
<h3>{% trans 'Price basket' %}:</h3>
{% if daily_exrates or daily_price_ingots %}
{% if daily_exrates %}
<h5>{% trans 'The exchange rate of the Belarusian ruble in relation to foreign currencies' %}:</h5>
{% trans 'Last data update' %}: {{ date_rates }}
<br>
<div class="table-responsive">
    <table class="table">
    <thead>
    <tr>
    <th>{% trans 'Code currency' %}</th>
    <th>{% trans 'Foreign сurrency name' %}</th>
    <th>{% trans 'The number of foreign currency units' %}</th>
    <th>{% trans 'Official rate' %}</th>
        </tr>
    </thead>
    <tbody>
    {% for rate in daily_exrates reversed %}
    <tr>
        <td>{{ rate.currency.abbreviation }}</td>
        <td><a href="{% url 'info_currency' rate.currency.abbreviation %}">
            {% if LANGUAGE_CODE == 'ru' %}{{ rate.currency.name_ru }}{% else %}{{ rate.currency.name }}{% endif %}</a></td>
        <td>{{ rate.currency.scale }}</td>
        <td>{{ rate.rate }}</td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
</div>
{% endif %}
{% if daily_price_ingots %}
<h5>{% trans 'Prices for precious metals in the form of bank ingots' %}:</h5>
{% trans 'Last data update' %}: {{ date_metal }}
<div class="table-responsive">
    <table class="table">
    <thead>
    <tr>
    <th>{% trans 'Metal name' %}</th>
    <th>{% trans 'Price for 1 gr.' %}</th>
    </tr>
    </thead>
    <tbody>
    {% for rate in daily_price_ingots reversed %}
     <td><a href="{% url 'info_metal' rate.metal.name %}">{% if LANGUAGE_CODE == 'ru' %}{{ rate.metal.name_ru  }}{% else %}{{ rate.metal.name}}{% endif %}</a></td>
        <td>{{ rate.value }}</td>
     </tr>
    {% endfor %}

    </tbody>
    </table>
</div>
{% endif %}
{% else %}
<p>{% trans 'You have not selected currencies and metals for tracking, you can choose in the ' %}<a href="/basket/settings/">{% trans 'settings' %}</a></p>
{% endif %}
{% endblock %}