{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans 'Settings' %}{% endblock %}
{% block head %}
{% load staticfiles %}
    <script src="{% static 'FlatUI/docs/assets/js/application.js' %}"></script>
{% endblock %}
{% block content %}
{% get_current_language as LANGUAGE_CODE %}
<h5 class="text-center">{% trans 'Select metals and currencies for tracking in the price basket' %}:</h5>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
<h6 class="text-center">{% trans 'Metals' %}:</h6>
    <form action="." method="post" role="form">
        {% csrf_token %}
         <div class="form-group">
     <select data-toggle="select" multiple class="form-control multiselect multiselect-primary mrs mbm" id="metals" name="metals">
         {% for rate in list_of_metals %}
        <option value="{{ rate.name }}"{% for a in metals_choose_user %}
                {% if a.metal.name == rate.name %}
                selected
                {% endif %}
             {% endfor %}>{% if LANGUAGE_CODE == 'ru' %}{{ rate.name_ru }}{% else %}{{ rate.name }}{% endif %}</option>
         {% endfor %}
      </select>

        <h6 class="text-center">{% trans 'Currencies' %}:</h6>
        <div class="form-group">
     <select data-toggle="select" multiple class="form-control multiselect multiselect-primary mrs mbm" id="currencies" name="currencies">
         {% for currency in currencies %}

        <option value="{{ currency.name }}" {% for a in currency_choose_user %}
                {% if a.currency.name == currency.name %}
                selected
                {% endif %}
             {% endfor %}>{% if LANGUAGE_CODE == 'ru' %}{{ currency.name_ru }}{% else %}{{ currency.name }}{% endif %}</option>
         {% endfor %}
      </select>
        </div>
        <input type="submit" class="btn btn-primary btn-lg btn-block" value="{% trans 'Save' %}"/>
             </div>
    </form>
    </div>
</div>
{% endblock %}