{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block title %}{% trans 'Info about metal' %}{% endblock %}
{% block head %}
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="{% static 'datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'datepicker/dist/css/bootstrap-datepicker3.css' %}">
    <script src="{% static 'datepicker/dist/locales/bootstrap-datepicker.ru.min.js' %}" charset="UTF-8"></script>
    {% get_current_language as LANGUAGE_CODE %}
    <!-- Скрипт не в отдельном файле для корректной работы LANGUAGE_CODE -->
    <script>
       $(document).ready(function(){
          var date_input=$('input[name="start_date"]');
          var options={
            format: "yyyy-mm-dd",
            startDate: "2017-01-01",
            endDate: "today",
            autoclose: true,
            language: "{{ LANGUAGE_CODE }}",
          };
          date_input.datepicker(options);
        })
        $(document).ready(function(){
          var date_input=$('input[name="end_date"]');
          var options={
            format: "yyyy-mm-dd",
            startDate: "2017-01-01",
            endDate: "today",
            todayHighlight: true,
            autoclose: true,
            language: "{{ LANGUAGE_CODE }}",

          };
          date_input.datepicker(options);
        })
    </script>
{% endblock %}
{% block content %}
{% get_current_language as LANGUAGE_CODE %}
   {% for metal in info_metal %}
    <h5>{% if LANGUAGE_CODE == 'ru' %}{{ metal.metal.name_ru }}{% else %}{{ metal.metal.name }} {% endif %}</h5>
    <p>{% if LANGUAGE_CODE == 'ru' %}
            {{ metal.info_ru }}
        {% else %}
            {{ metal.info }}
        {% endif %}
    {% endfor %}</p>
    <br>


    {% if text %}<p>{{ text }}</p>{% endif %}
    <div class="row">
        <form method="post">
            {% csrf_token %}
            <div class="col-sm-3">

            {% trans 'Start date of the period' %}:
            {{ forms.start_date }}
            </div>
            <div class="col-sm-3">
            {% trans 'End date of the period' %}:
            {{ forms.end_date }}
            </div>
            <br>
            <input type="submit" value="{% trans 'Show' %}" class="btn btn-primary"/>
        </form>
    </div>
    {% if error %}
    <p>{{ error }}</p>
    {% elif list_of_metal %}
    <h6>{% trans 'Prices for the selected date range' %}:</h6>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
            <th>{% trans 'Date' %}:</th>
            <th>{% trans 'Price for 1 gr.' %}:</th></tr>
            </thead>
            <tbody>
            {% for rate in list_of_metal %}
            <tr>
                <td>{{ rate.date }}</td>
                <td>{{ rate.value }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
{% endblock %}