{% extends "base.html" %}
{% load i18n %}
{% block head %}
{% load staticfiles %}
    <script src="{% static 'FlatUI/docs/assets/js/application.js' %}"></script>
    <script src="{% static 'js/search-dropdown.js' %}"></script>
{% endblock %}
{% block title %}{% trans 'Price of metals' %}{% endblock %}
{% block content %}
{% get_current_language as LANGUAGE_CODE %}
<h5>{% trans 'Prices for precious metals in the form of bank ingots' %}:</h5>
{% trans 'Last data update NBRB' %}: {{ date_nbrb }} <br>
{% trans 'Last data update BPS' %}: {{ date_bps }}
<div class="table-responsive">
    <table class="table">
    <thead>
    <tr>
    <th>{% trans 'Metal name' %}</th>
    <th>{% trans 'Official price for 1 gr.' %}</th>
        <th>{% trans 'The price of sale/purchase in BPS-Sberbank' %}</th>
    </tr>
    </thead>
    <tbody>
    {% for today, yesterday, today_bps in metals_price reversed %}
     <tr>
            {% if LANGUAGE_CODE == 'ru' %}
        <td><a href="{% url 'info_metal' today.metal.name %}">{{ today.metal.name_ru  }}</a></td>
            {% else %}
        <td><a href="info/{{ today.metal.name }}">{{ today.metal.name  }}</a></td>
            {% endif %}
            {% if today.value > yesterday.value %}
        <td class="up"><b class="fui-triangle-up" style="color:#2ecc71;"></b> {{ today.value }} BYN</td>
            {% elif today.value < yesterday.value %}
        <td class="down"><b class="fui-triangle-down" style="color:#e74c3c;"></b> {{ today.value }} BYN</td>
            {% else %}
        <td class="remain"><b class="fui-triangle-right-large" style="color:#f39c12;"></b> {{ today.value }} BYN</td>
            {% endif %}
         <td>{{ today_bps.value_sale }} / {{ today_bps.value_buy }} BYN</td>
        </tr>
    {% endfor %}

    </tbody>
    </table>
</div>
{% endblock %}
