{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans 'Authorization' %}{% endblock %}
{% block content %}
{% if not request.user.is_authenticated %}
<div class="row">
<div class="col-md-6 col-md-offset-3">
    <h5 class="text-center">{% trans 'Authorization' %}</h5>
<div class="login-form">
<form method="post" action=".">
  {% csrf_token %}
  <div class="form-group">
                <label class="login-field-icon fui-user" for="username"></label>
              <input type="text" class="form-control login-field" value="" placeholder="{% trans 'Username' %}" id="username" name="username" required>
            </div>
  {{ form.username.errors }}

            <div class="form-group">
                <label class="login-field-icon fui-lock" for="password"></label>
              <input type="password" class="form-control login-field" value="" placeholder="{% trans 'Password' %}" id="password" name="password" required>
            {% if form.errors %}
            <small class="text-danger">{% trans 'Please enter a correct username and password. Note that both fields may be case-sensitive' %}.</small>
            {% endif %}
            </div>

  <input type="submit" class="btn btn-primary btn-lg btn-block" value="{% trans 'Log in' %}" />
  <a class="login-link" href="{% url 'auth_password_reset' %}">{% trans 'Lost your password' %}?</a>
  <input type="hidden" name="next" value="{{ next }}" />
</form>
</div>
</div>
</div>
{% endif %}
{% endblock %}
