{% extends "base.html" %}
{% load i18n %}

{% block content %}

{% if validlink %}
<div class="row">
<div class="col-md-6 col-md-offset-3">
<div class="login-form">
<form method="post" action=".">
  {% csrf_token %}

  <div class="form-group">
      <label class="login-field-icon fui-lock" for="new_password1"></label>
      <input title="{% trans 'Your password can not be too similar to your other personal information, must contain at least 8 characters, can not be a commonly used password, can not be entirely numeric' %}" data-placement="left" data-toggle="tooltip" type="password" class="form-control login-field" value="" placeholder="{% trans 'New password' %}" id="new_password1" name="new_password1">

      {% if form.new_password1.errors %}
        <small class="text-danger">{{ form.password1.errors }}</small>
      {% endif %}
  </div>


    <div class="form-group">
        <label class="login-field-icon fui-lock" for="new_password2"></label>
        <input title="{% trans 'Enter the same password as before, for verification' %}" data-placement="left" data-toggle="tooltip" type="password" class="form-control login-field" value="" placeholder="{% trans 'New password' %}" id="new_password2" name="new_password2">
        {% if form.new_password2.errors %}
        <small class="text-danger">{{ form.new_password2.errors }}</small>
        {% endif %}
    </div>


  <input class="btn btn-primary btn-lg btn-block" type="submit" value="{% trans 'Submit' %}" />
</form>

<script>
      $(function () {
        $('[data-toggle=tooltip]').tooltip();
      });
</script>
</div>
</div>
</div>
{% else %}

<p>{% trans "Password reset failed" %}</p>

{% endif %}

{% endblock %}
