{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans 'Password reset' %}{% endblock %}

{% block content %}
{% if not request.user.is_authenticated %}
<div class="row">
<div class="col-md-6 col-md-offset-3">
    <h5 class="text-center">{% trans 'Password reset' %}</h5>
<div class="login-form">
<form method="post" action=".">
  {% csrf_token %}
  <div class="form-group">
        <label class="login-field-icon fui-mail" for="email"></label>
      <input type="email" class="form-control login-field" value="" placeholder="{% trans 'Email' %}" id="email" name="email">
      {% if form.email.errors %}
        <small class="text-danger">{{ form.email.errors }}</small>
        {% endif %}
    </div>

  <input type="submit" class="btn btn-primary btn-lg btn-block" value="{% trans 'Send mail with instructions' %}" />
</form>
</div>
</div>
</div>
{% endif %}
{% endblock %}
