{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Registration' %}{% endblock %}

{% block content %}
{% if not request.user.is_authenticated %}
<div class="row">
<div class="col-md-6 col-md-offset-3">
    <h5 class="text-center">{% trans 'Registration' %}</h5>
<div class="login-form">
<form method="post" action=".">
  {% csrf_token %}
  <div class="form-group">
      <label class="login-field-icon fui-user" for="username"></label>
      <input title="{% trans '150 characters or fewer. Letters, digits and @/./+/-/_ only' %}" data-placement="left"
             data-toggle="tooltip" type="text" class="form-control login-field" value="" placeholder="{% trans 'Username' %}" id="username" name="username">
      {% if form.username.errors %}
      <small class="text-danger">{{ form.username.errors }}</small>
      {% endif %}
  </div>


    <div class="form-group">
        <label class="login-field-icon fui-mail" for="email"></label>
      <input title="{% trans 'Enter your email address. A message will be sent to activate the account. You can register several accounts for one email.' %}"
             data-placement="left" data-toggle="tooltip" type="email" class="form-control login-field" value="" placeholder="{% trans 'Email' %}" id="email" name="email">
      {% if form.email.errors %}
        <small class="text-danger">{{ form.email.errors }}</small>
        {% endif %}
    </div>

  <div class="form-group">
      <label class="login-field-icon fui-lock" for="password1"></label>
      <input title="{% trans 'Your password can not be too similar to your other personal information, must contain at least 8 characters, can not be a commonly used password, can not be entirely numeric' %}"
             data-placement="left" data-toggle="tooltip" type="password" class="form-control login-field" value="" placeholder="{% trans 'Password' %}" id="password1" name="password1">

      {% if form.password1.errors %}
        <small class="text-danger">{{ form.password1.errors }}</small>
      {% endif %}
  </div>


    <div class="form-group">
        <label class="login-field-icon fui-lock" for="password2"></label>
        <input title="{% trans 'Enter the same password as before, for verification' %}" data-placement="left"
               data-toggle="tooltip" type="password" class="form-control login-field" value="" placeholder="{% trans 'Password' %}" id="password2" name="password2">
        {% if form.password2.errors %}
            <small class="text-danger">{{ form.password2.errors }}</small>
        {% endif %}
    </div>

  <input type="submit" class="btn btn-primary btn-lg btn-block" value="{% trans 'Register' %}" />
</form>
</div>
</div>
</div>

<script>
      $(function () {
        $('[data-toggle=tooltip]').tooltip();
      });
</script>
{% endif %}
{% endblock %}
