body {
min-height: 500px;
}

.navbar-static-top {
margin-bottom: 19px;
}


.up {
font-family: "Lato", Helvetica, Arial, sans-serif;
color: #27ae60;
}

.down {
font-family: "Lato", Helvetica, Arial, sans-serif;
color: #c0392b
}

.remain {
font-family: "Lato", Helvetica, Arial, sans-serif;
color: #f39c12
}


