{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans 'About project' %}{% endblock %}
{% block content %}
<center>{% trans 'Project create for studying web-framework Django ' %}</center><br>
{% trans 'The prices are obtained from the NBRB using the NBRB API, using the RESTful API (requests library), BPS-Sberbank using the web page scraping (library beautifulsoup4)' %}

<br>
{% trans 'With the help of the celery manager, the script is launched daily to update prices in the database and sending notifications, as well as using redis caching of some pages' %}<br>

<dl>
    <dt>{% trans 'Basic features' %}:</dt>
    <dd>- {% trans 'Authorization, registration with confirmation by email, password recovery, user profile' %}</dd>
    <dd>- {% trans 'Daily updates of prices for the currency and metals of the NBRB, metals BPS-Sberbank, view additional information about each metal/currency' %}</dd>
    <dd>- {% trans 'Viewing the price dynamics of metals for any period of time from 2016.07.01' %}</dd>
    <dd>- {% trans 'Localization application: English and Russian are available, by default the language of the user system is selected. Change the language in your profile' %}</dd>
    <dt>{% trans 'Available after authorization' %}: </dt>
    <dd>- {% trans 'Currency basket: The user can choose to track the currency and the metals that interest him, and track them on a separate page' %}</dd>
    <dd>- {% trans 'Notifications: The user can set minimum / maximum marks for any metal and currency, as soon as the price reaches the selected mark, the user will receive notifications by email' %}</dd>
</dl>
{% trans 'Used Bootstrap Framework with the theme Flat UI' %}<br>

{% trans 'Developer: Semion Sobolevski' %} (semion.sobolevski@gmail.com)<br>
{% trans 'Reviewer: Denis Kazak' %}
{% endblock %}