{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans 'Notifications' %}{% endblock %}
{% block head %}
{% load staticfiles %}
    <script src="{% static 'FlatUI/docs/assets/js/application.js' %}"></script>
    <script src="{% static 'js/search-dropdown.js' %}"></script>
{% endblock %}
{% block content %}
{% get_current_language as LANGUAGE_CODE %}

<h5 class="text-center">{% trans 'Choose metals and currencies for email notifications' %}:</h5>
<form action="." method="post" role="form">
    {% csrf_token %}
<div class="row">
    <div class="col-md-5 col-md-offset-3">

    <p class="text-center">{% trans 'Send notification to email' %} <b>{{ request.user.email }}</b> {% trans 'if the price on' %}</p>
    </div>
</div>
    <div class="row">
<div class="col-md-5 col-md-offset-3">
            <div class="form-group">
    <select data-toggle="select" class="form-control select select-primary mrs mbm"  name="dropdown-searchfield">
        <optgroup label="Metals">
          {% for metal in metals %}
            <option value="{{ metal.name }}">{% if LANGUAGE_CODE == 'ru' %}{{ metal.name_ru }}{% else %}{{ metal.name }}{% endif %}</option>
            {% endfor %}
        </optgroup>
        <optgroup label="Currencies">
            {% for currency in currencies %}
          <option value="{{ currency.name }}">{{ currency.scale }} {% if LANGUAGE_CODE == 'ru' %}{{ currency.name_ru }}
          {% else %}{{ currency.name }}{% endif %}</option>
          {% endfor %}
        </optgroup>
      </select>
            </div>
</div>
    </div>

<div class="row">
<div class="col-md-3 col-md-offset-3">
    <div class="form-group">
            <select data-toggle="select" class="form-control select select-primary mrs mbm" name="sign" required>
          <option value=">">{% trans 'will be higher' %}</option>
          <option value="<">{% trans 'will be lower' %}</option>
        </select>
    </div>
</div>

<div class="col-md-2 col-md-6">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="{% trans 'of this price' %}" name="value" required>
          </div>
    </div>
</div>


    <div class="row">
<div class="col-md-5 col-md-offset-3">
    <input type="submit" class="btn btn-primary btn-lg btn-block" value="{% trans 'Save' %}"/>
    {% if error %}<small class="text-danger">{{ error }}</small>{% endif %}
</div>
    </div>


</form>
<br>
<br>
{% if user_metals or user_currencies %}
<div class="col-md-5 col-md-offset-3">
<p class="text-center">{% trans 'Used notifications' %}:</p>
</div>

<div class="table-responsive">
    <table class="table">
        <thead>
        <th>{% trans 'Currency or metal' %}</th>
        <th>{% trans 'Price for' %}</th>
        <th>{% trans 'If' %}</th>
        <th>{% trans 'Limit' %}</th>
        <th>{% trans 'Delete' %}</th>
        </thead>
{% for user_metal in user_metals %}
        <tbody>
            <tr>
                <td><a href="{% url 'info_metal' user_metal.metal.name %}"> {% if LANGUAGE_CODE == 'ru' %}{{ user_metal.metal.name_ru }}{% else %}{{ user_metal.metal.name }}{% endif %}</a></td>
                <td>1 {% trans 'g' %}.</td>
                <td>{% if user_metal.sign == '>' %}{% trans 'Higher' %}{% else %}{% trans 'Lower' %}{% endif %}</td>
                <td>{{ user_metal.value }}</td>
                <td><a href="{% url 'delete_metal' user_metal.pk %}"><span class="fui-cross"></span> </a></td>
            </tr>
        </tbody>
{% endfor %}
        <tbody>
        {% for user_currency in user_currencies %}
        <tr>
            <td><a href="{% url 'info_currency' user_currency.currency.abbreviation %}">{% if LANGUAGE_CODE == 'ru' %}{{ user_currency.currency.name_ru }}{% else %}{{ user_currency.currency.name }}{% endif %}</a></td>
            <td>{{ user_currency.currency.scale }} {% trans 'unit(s)' %}</td>
            <td>{% if user_currency.sign == '>' %}{% trans 'Higher' %}{% else %}{% trans 'Lower' %}{% endif %}</td>
            <td>{{ user_currency.value }}</td>
            <td><a href="{% url 'delete_currency' user_currency.pk %}"><span class="fui-cross"></span> </a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>{% trans 'You have not selected any metal or currency to receive a notification. Once you choose a currency or metal for tracking. Your mail will receive notifications like' %}:</p>
    <blockquote>{% trans 'The price of metal "Gold" has reached the mark 78.5 BYN. Now it is 78.56 BYN' %}.</blockquote>
    {% endif %}
</div>
{% endblock %}