{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans 'Exchange rates' %}{% endblock %}
{% block content %}
{% get_current_language as LANGUAGE_CODE %}
<h5>{% trans 'The exchange rate of the Belarusian ruble in relation to foreign currencies' %}:</h5>
{% trans 'Last data update NBRB' %}: {{ date }}
<br>
<div class="table-responsive">
    <table class="table">
    <thead>
    <tr>
    <th>{% trans 'Code currency' %}</th>
    <th>{% trans 'Foreign сurrency name' %}</th>
    <th>{% trans 'The number of foreign currency units' %}</th>
    <th>{% trans 'Official rate' %}</th>
        </tr>
    </thead>
    <tbody>
    {% for rate_today, rate_yesterday in daily_exrates reversed  %}
    <tr>
        <td>{{ rate_today.currency.abbreviation }}</td>
        {% if LANGUAGE_CODE == 'ru' %}
        <td><a href="{% url 'info_currency' rate_today.currency.abbreviation %}">{{ rate_today.currency.name_ru }}</a></td>
        {% else %}
        <td><a href="{% url 'info_currency' rate_today.currency.abbreviation %}">{{ rate_today.currency.name }}</a></td>
        {% endif %}
        <td>{{ rate_today.currency.scale }}</td>
        {% if rate_today.rate > rate_yesterday.rate %}
        <td class="up"><b class="fui-triangle-up" style="color:#2ecc71;"></b> {{ rate_today.rate }} BYN</td>
        {% elif rate_today.rate < rate_yesterday.rate %}
        <td class="down"><b class="fui-triangle-down" style="color:#e74c3c;"></b> {{ rate_today.rate }} BYN</td>
        {% else %}
        <td class="remain"><b class="fui-triangle-right-large" style="color:#f39c12;"></b> {{ rate_today.rate }} BYN</td>
        {% endif %}
    </tr>
    {% endfor %}
    </tbody>
    </table>
</div>
{% endblock %}
