{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans 'Info about currency' %}{% endblock %}
{% block content %}
{% load staticfiles %}
<div class="row">
    <p>{% for rate in info_currency %}
        <div class="col-1-md-2 col-md-offset-4">
        <img src="{% static 'currencies/img/' %}{{ rate.abbreviation }}.svg" class="img-rounded img-responsive" width="300" height="200" />
        </div>
    <br>
        {% if LANGUAGE_CODE == 'ru' %}
            {{ rate.info_ru }}
        {% else %}
            {{ rate.info }}
        {% endif %}
        {% endfor %}
    </p>
</div>
{% endblock %}