{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans 'Profile' %}{% endblock %}
{% block head %}
{% load staticfiles %}
    <script src="{% static 'FlatUI/docs/assets/js/application.js' %}"></script>
{% endblock %}

{% block content %}

<h5 class="text-center">{% trans 'Profile user' %} {{ request.user.first_name }} {{ request.user.last_name }}</h5>

<p>{% trans 'Your' %} email: {{ request.user.email }}
<div class="row">
    <div class="col-sm-4">{% trans 'Select the language of the site' %}:</div>

        <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
            <input name="next" type="hidden" value="{{ redirect_to }}" />
            <select class="form-control select select-primary mbl" data-toggle="select" name="language" onchange="this.form.submit()">
                {% get_current_language as LANGUAGE_CODE %}
                {% get_available_languages as LANGUAGES %}
                {% get_language_info_list for LANGUAGES as languages %}
                {% for language in languages %}
                    <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
                        {{ language.name_local }} ({{ language.code }})
                    </option>
                {% endfor %}
            </select>
        </form>
</div>

{% endblock %}