<!DOCTYPE html>
{% load i18n %}
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'FlatUI/dist/css/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'FlatUI/dist/css/flat-ui.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'FlatUI/dist/img/favicon.ico' %}">
    <script src="{% static 'FlatUI/dist/js/vendor/jquery.min.js' %}"></script>
    <script src="{% static 'FlatUI/dist/js/flat-ui.min.js' %}"></script>
    {% block head %}{% endblock %}
</head>
<body>
    <div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
          </button>
          <a class="navbar-brand" href="/">NBRB</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/currencies/">{% trans 'Exchange rates' %}</a></li>
            <li><a href="/metals/">{% trans 'Price of metals' %}</a></li>

              {% if request.user.is_authenticated %}
              <li><a href="/basket/">{% trans 'Price basket' %}</a></li>
          </ul>
<ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ request.user }}<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/profile/">{% trans 'Profile' %}</a></li>
                  <li><a href="/basket/settings/">{% trans 'Settings basket' %}</a> </li>
                  <li><a href="/notifications/">{% trans 'Notifications' %}</a> </li>
                  <li><a href="/about/">{% trans 'About project' %}</a> </li>
                <li class="divider"></li>
                <li><a href="{% url 'auth_logout' %}">{% trans 'Sign out' %}</a></li>
              </ul>
            </li>
        </ul>

            {% else %}
            <li><a href="/about/">{% trans 'About project' %}</a> </li>
        </ul>
            <ul class="nav navbar-nav navbar-right">
                <a  href="{% url 'auth_login' %}" class="btn btn-default navbar-btn" type="button">{% trans 'Sign in' %}</a>
                <a  href="{% url 'registration_register' %}" class="btn btn-default navbar-btn" type="button">{% trans 'Sign up' %}</a>
            </ul>
            {% endif %}
        </div>
      </div>
    </div>
  <div class="container">
      <div class="jumbotron">
        <p>{% block content %}{% endblock %}</p>
      </div>
  </div>
</body>
</html>